@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-theme-900 flex flex-col;
    min-height: 100vh;
  }
}

@layer utilities {
  /* Text Shadows */
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .scroll-row-transition {
    transition: scroll 0.2s ease 0s;
  }
  /* Slider Buttons */
  .slider-btn-padding {
    padding: 4.28571% 0px;
  }

  /* Neon Text Shadows */
  .neon-shadow {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 6px #fff,
      0 0 7px #fff;
  }

  /* Special FX */
  .oval-shadow {
    border-radius: 50%;
  }

  /* Overlays */
  .gradient-transparency {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
  }

  .gradient-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(23, 24, 26, 0) 0%,
      rgba(16, 16, 18, 1) 100%
    );
  }

  /* Neumorphism */
  .shadow-dark-1 {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }

  /* Glassmorphism UI Elements */
  .glass-container-dark {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  .glass-container-light {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  /* Workaround to disable unwanted scrolling on mobile and browsers simulating mobile screens */
  /* e.preventDefault() doesn't always work / is ignored */
  .lock-screen {
    touch-action: pan-y pinch-zoom;
  }

  /* CAROUSEL */

  .movie {
    border: 1px solid theme('colors.theme.900');
    border-radius: 0.375rem;
  }

  .hover-movie {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 1);
  }

  .scroll-button {
    @apply bg-white absolute top-1/2 transform -translate-y-1/2 text-3xl flex justify-center content-center px-2 py-5 bg-theme-400 opacity-60 text-black;
    border: 1px rgba(0, 0, 0, 0.616) solid;
  }

  .scroll-button:hover {
    @apply opacity-100 duration-1000;
  }

  /* NOW PLAYING */

  .background-movie-card {
    background: rgba(0, 0, 0, 0.6);
  }

  .dayListItem {
    @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 duration-500;
  }

  .active {
    border-bottom: 1px white solid;
    color: white;
  }

  .minimum {
    min-height: 100rem;
  }

  /* LOGIN */

  .background-login-card {
    background: rgba(0, 0, 0, 0.7);
  }
}

/* MOBILE NAVIGATION */

.fade-in-mobile-navbar {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
